<form action="check" method="GET" id="check_validation">
    <fieldset>
        Validity Checker
        <br>
        <label for="length"><input type="text" name="length" id="length" placeholder="Enter Length"></label>
        <br>
        <label for="breadth"> <input type="text" name="breadth" id="breadth" placeholder="Enter Breadth"></label>
        <br>
        <label for="breadth"> <input type="text" name="hologram" id="hologram" placeholder="true or false"></label>
        <br>

        <input type="submit">
    </fieldset>
</form>